		/*samrat keep it in index.css*/

	     /*myTrip.php initiated*/
	     .tab-container{
	     	min-height: 450px;
	     	margin: 40px 40px 5px 40px;
	     	/*background-color: #f6f6f6;*/
	     	max-width: auto;
	     }

	     /* Style the tab */
	     div.tab {
	     	overflow: hidden;
	     	/*border: 1px solid white;*/
	     	/*background-color: #f1f1f1;*/
	     	background-color: white;

	     }

	     /* Style the buttons inside the tab */
	     div.tab button {
	     	background-color: #e9e9e9;
	     	color: #6d6d6d;
	     	float: left;
	     	border: 1px solid white;
	     	/*border-right: 3px;*/
	     	border-bottom: none;
	     	border-radius: 4px 4px 0px 0px;
	     	outline: none;
	     	cursor: pointer;
	     	padding: 10px 30px;
	     	transition: 0.3s;
	     }

	     /* Change background color of buttons on hover */
	     div.tab button:hover {
	     	background-color: #f6f6f6;
	     }

	     /* Create an active/current tablink class */
	     div.tab button.active {
	     	background-color: #f6f6f6;
	     }

	     /* Style the tab content */
	     .tabcontent {
	     	/*border-radius: 5px;*/
	     	background-color: #f6f6f6;
	     	display: none;
	     	padding:40px  12px 6px 12px;
	     	border: 1px solid white;
	     	border-top: none;
	     	min-height: 450px;
	     	/*color:#6d6d6d; */
	     }

	     .tabcontent a{
	     	text-decoration: none;
	     	color: inherit; ;
	     }

	     .content-myTrips, .contentProfile ,.contentChangePassword{
	     	font-size: medium;
	     	margin: 10px 10px 0px;
	     	background-color: white;
	     	padding: 20px;
	     	border-radius: 5px;
	     	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	     }

	     
	  

		 /*.content-myTrips:enabled{
	     	border-radius: 0px;
	     }*/

	     .content-collapsed{
	     	padding-top: 10px; 
	     }
	     .content-myTrips span{
	     	color: #959595;
	     	font-size: small;
	     }
	     .content-myTrips .arw{
	     	color: inherit;
	     	font-size: inherit;
	     	padding: 5px 0px 0px 10px; 
	     }

	     .option-btn{
	     	position: relative;
	     	width: 5px;
	     }

	     .option-btn .dots{
	     	width: 5px;
	     	height: 5px;
	     	border-radius: 50%;
	     	background-color: #AEAEAE;
	     	margin: 4px 0;
	     }

	     .option-btn:hover ul{
	     	padding: 10px 20px;
	     	visibility: visible;
	     	opacity: 1;
	     }


	     .optionsList-dots{
	     	z-index: 100;
	     	width: 215px;
	     	padding: 20px 30px;
	     	visibility: hidden;
	     	position: absolute;
	     	top:20px;
	     	/*bottom: -219px;*/
	     	left: 0;
	     	list-style: none;
	     	right: 0;
	     	background: white;
	     	border: 1px solid #eeeeee;
	     	border-radius: 5px;
	     	-webkit-transition: 0.2s ease-out;
	     	-moz-transition: 0.2s ease-out;
	     	-o-transition: 0.2s ease-out;
	     	transition: 0.2s ease-out;
	     	transition-property: opacity, padding, visibility;
	     	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
	     }


	     .optionsList-dots li{
	     	
	     	display: block;
	     	position: relative;
	     	padding: 10px 0px 5px 0px;	     	
	     	border-bottom: 1px solid #AEAEAE;
	     }
 
	     .optionsList-dots li a{
	     	text-decoration:none ;
	     	color: #959595;
	     }

	     .optionsList-dots>li>a:hover
	     {
	     	color: black;
	     }
	     
	     .hiddenDetail{
	     	display: none;
	     }

	     .spaceSpan{
	     	padding-left: 25px;
	     }

	    .busSeat{
	    	height: 40px;
	    	width: 40px;
	    	color: grey;
	    }
	    /*myTrip.php terminated*/